@page
@model Blog.Pages.Article.ArticleModel

@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

@*<div class="article-section">
    <div class="article">
        <form method="POST">
            <div class="center-section" id="authenticate">
                <h2><b>Log in</b></h2>
                <br />
                <label>E-mail:</label><br />
                @Html.TextBoxFor(model => model.Model.Email)
                <br />
                <br />
                <label>Password:</label><br />
                @Html.PasswordFor(model => model.Model.Password)<br />
                @Html.ValidationMessageFor(model => model.Model.Password)
                <br />
                <br />
                <input type="submit" class="btn btn-default" value="Login" />
                <span style="font-size: 11px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;New to the website? <a class="goBack" href="@Url.Page("Register")">Register</a></span>
            </div>
        </form>
    </div>
</div>*@