/************************************/
/*
/*      General html tag styles
/*
/************************************/

body {
    background-color: #EAE2DE;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

a {
    color: white;
    transition: .25s;
    text-decoration: none;
}

.goBack {
    color: black;
    transition: .25s;
    text-decoration: underline;
}

a:hover {
    color: rgb(122, 122, 122);
    text-decoration: none;
}

/************************************/
/*
/* Element-specific html tag styles
/*
/************************************/

.main-layout {
    display: grid;
    grid-template-rows: 300px 1fr 50px;
    grid-gap: 1em;
}

.main-layout #banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resources/images/banner.jpg");
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-row: 1;
    grid-column: 1/2;
}

.footer {
    font-size: 8px;
    text-align: center;
}

.main-layout .page-content {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-row-gap: 1em;
    grid-column-gap: 2em;
}

.banner-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.navigationMenu {
    word-spacing: 20px;
    text-align: right;
    position: absolute;
    right: 10%;
    bottom: 10%;
    color: white;
}

.loginArea {
    text-align: right;
    position: absolute;
    right: 10%;
    bottom: 10%;
    top: 10%;
    color: white;
}

.validation-message {
    color: red;
    font-size: 10px;
}

.article-section {
    display: grid;
    grid-gap: 1em;
    font-size: 20px;
    grid-row-start: 2;
    grid-column-start: 2;
}

.article {
    display: grid;
    grid-template-rows: 1fr 1fr minmax(1fr, 2fr);
    background-color: #f2edeb;
    border-radius: 11px;
    border: 2px solid #d2cbc7;
    color: #464342;
}

.article-header {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: 1em 1em;
    margin: 5px;
    color: #5d5a58;;
}

.article-header .date {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: 1/1;
    grid-row: 1/3;
    text-align: center;
}

.article-header .title {
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-color: #a39e9b;
    border-width: 0 0 3px 0;
    font-size: 32px;
}

.article-header .author {
    grid-column: 2/3;
    grid-row: 2/3;
    color: #a39e9b;
    margin: 0 0 10px 6px;
}

.article-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resources/images/template-article-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}

.center-section {
    
    margin: 2em;
}

.center-section#authenticate {
    margin-left: 3.5em;
}

.page-content .about-note {
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-end: auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}