@page

@{
    ViewData["Title"] = "My blog";
    Layout = "_Layout";
}
<div class="inner-section">
    <div class="inner-box">
        <div class="center-section">
            <h2>About this website</h2><br/>
            <p>
                This website has been created as a college project. <br /><br />
                It's purpose was to test my programming skills, both back-end and front-end.
                Creating this website also included establishing a database with its schema, 
                while also being able to connect to it programatically and perform various transactions on the defined data set.<br /><br />
                It was created in the 5th semester of Computer Science at Uniwersytet Śląski in Katowice, Poland, by a student: Michał Surmacz, year 2018/2019.
            </p>
        </div>
    </div>
</div>