@page
@{
    ViewData["Title"] = "My first blog website!";
    Layout = "_Layout";
}
<div class="article-section">
    <div class="article">
        <div class="article-header">
            <div class="title">
                About how I made this blog come true
            </div>
            <div class="author">
                Written by: <b>xyz</b>
            </div>
            <div class="date">
                1/1/2000
            </div>
        </div>
        <div class="article-image"></div>
        <div class="center-section">
            <p>
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
            </p>
        </div>
    </div>
    <div class="article">
        <div class="article-header">
            <div class="title">
                About how I made this blog come true
            </div>
            <div class="author">
                Written by: <b>xyz</b>
            </div>
            <div class="date">
                1/1/2000
            </div>
        </div>
        <div class="article-image"></div>
        <div class="center-section">
            <p>
                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
            </p>
        </div>
    </div>
</div>