@{
    ViewData["Title"] = "My first blog website!";
}
<html>
<head>
    <meta charset="utf-8" />
    <title>Blog it!</title>
</head>
    <body>
        <div class="main-layout">
            <div id="banner">
                <div class="banner-text">
                    <h1>This is my awesome blog!</h1>
                </div>
                <span class="navigationMenu">
                    <a href="http://www.google.pl">Home</a>
                    <a href="http://www.google.pl">Contact</a>
                    <a href="http://www.google.pl">About</a>
                </span>
            </div>
            <div class="page-content">
                <div class="about-note">to be changed to navigation menu and search tool</div>
                <div class="article-section">
                    <div class="article">
                        <div class="article-header">
                            <div class="title">
                                About how I made this blog come true
                            </div>
                            <div class="author">
                                Written by: <b>Michał Surmacz</b>
                            </div>
                            <div class="date">
                                1/1/2000
                            </div>
                        </div>
                        <div class="article-content">
                            <p>
                                This has been a very bumpy road. It all started with a bowl of my favourite cereal...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <hr>
                Made by srm 2018
            </div>
        </div>
    </body>
</html>

@*<app asp-prerender-module="ClientApp/dist/main-server">Loading...</app>

<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}*@
